$bg : #F6F8F9;
$ffamily: helvatica, sans-serif; //"open sans";
$fsize: 14px;
$fweight: bold;
$lheight: 20px;
$fstyle: normal;
$color: #343638;
body {
    background-color: $bg;
    font-family: $ffamily;
    font-size: $fsize;
    font-weight: $fweight;
    line-height: $lheight;
    font-style: $fstyle;
    color: $color;
}

.wrapper {
    min-height: calc(100vh - 55px);

    .header {
        z-index: 400;
        background: $bg;
        transition: background-color .3s ease;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: .5rem;

        nav {
            position: fixed;
            z-index: 10;
            width: 100%;
            padding-block: 1.2rem;
            // background-color: transparent;
            transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
          }
          
          nav.active {
            background-color: white;
          }
          
          .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          
          .logo {
            color: var(--accent);
            margin-inline: 0.5rem;
            width: clamp(3rem, 10vw, 7.5rem);
            display: grid;
            place-items: center;
          }
          
          .logo-link:focus-visible,
          .nav-link:focus-visible {
            outline: 4px solid var(--accent);
            outline-offset: 0.2em;
            border-radius: 0.5rem;
          }
          .logo-img {
            max-width: 10%;
        }
          
          .nav-links {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            transform: translate3d(0, -200%, 0);
            position: absolute;
            z-index: -1;
            top: 3rem;
            left: 0;
            right: 0;
            background-color: var(--dark);
            padding: 1.5rem;
            border-bottom: 4px solid var(--accent);
            text-align: center;
          }
          
          .nav-links.activated {
            transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);
          }
          
          .btn {
            color: var(--text);
            text-decoration: none;
            padding: 0.3rem 1.5rem;
            cursor: pointer;
            border-radius: 0.5rem;
          }
          
          .btn--accent {
            background-color: var(--accent);
            padding: 0.3rem 2rem;
          }
          
          .btn--menu {
            color: var(--accent);
            background-color: transparent;
            border: none;
            display: grid;
            place-items: center;
            padding-inline: 1rem;
            transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
          }
          
          li[role="none"],
          .nav-link {
            width: 100%;
            display: block;
            font-size: 1.1rem;
            text-transform: uppercase;
          }
          
          .btn--menu[aria-expanded="true"] {
            transform: rotate(-180deg);
          }
          
          .btn--menu[aria-expanded="true"] + .nav-links {
            transform: translate3d(0, 0, 0);
            background-color: white;
          }
          
          @media (min-width: 768px) {
            .btn--menu {
              display: none;
            }
            .nav-links {
              position: static;
              transform: translate3d(0, 0, 0);
              flex-direction: row;
              border: 0;
              z-index: 0;
              padding: 0;
              inset: 0;
              background-color: transparent;
            }
            li[role="none"],
            .nav-link {
              width: initial;
            }
          }
          
    
        &__content {
            // height: 50px;
            // padding-top: 1rem;
            justify-content: space-between;
            align-items: center;
            display: flex;
            position: fixed;
            background: $bg;
    
            .logo-img {
                max-width: 10%;
            }
        }
    
        .content-column {
            // max-width: 1440px;
            // padding: 0 40px 0 90px;
            width: 100%;
            height: 5rem;
        }
    
        .nav {
            display: flex;
            align-items: center;
        }
    
        .nav1 {
            padding-right: 3rem;
            display: flex;

            a {
                color: $color;
                opacity: 0.5;
                :active {
                    opacity: 1;
                }
            }
    
            .nav__link {
                padding: 0 0 0 2.5rem;
                text-decoration: none;
            }
        }
    
        .nav2 {
            width: 2rem;
            margin-right: 2rem;
    
            img {
                width: 4rem;
            }
        }
    }
    .hero {
        position: relative;
        display: block;        
        height: fit-content;
        overflow: hidden;
        background: -webkit-linear-gradient(rgb(197 199 221 / 0%), rgb(0 0 0 / 85%)), url(Image37.png);
        background: linear-gradient(rgb(197 199 221 / 0%), rgb(0 0 0 / 85%)), url(Image37.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .overlay {
            $fclr : #FFFFFF;
            // margin-top: -40rem;
            height: 100vh;
            display: grid;
            align-items: center;
            color: $fclr;
    
            .banner-sub {
                justify-content: space-between;
                position: absolute;
                display: flex;
                margin: 6rem 50rem 0rem;
                bottom: 40%;
    
                a {
                    line-height: 20px;
                    text-align: center;
                    font-size: 16px;
                    margin-left: 7rem;
                    color: $fclr;
                    text-decoration: none;
                }
            }
    
            p {
                line-height: 50px;
                text-align: center;
                font-size: 48px;
                position: absolute;
                margin: 16rem 26rem 20rem;
            }
    
            .img-ava {
                img {
                    bottom: 3rem;
                    left: 2.5rem;
                    line-height: 20px;
                    text-align: center;
                    font-size: 16px;
                    position: absolute;
                }
            }
    
            .sub-ava {
                a{
                    bottom: 4rem;
                    left: 8rem;
                    line-height: 20px;
                    text-align: center;
                    font-size: 16px;
                    position: absolute;
                    color: $fclr;
                    text-decoration: none;
                }
            }
    
        .nstory {
                bottom: 3rem;
                position: absolute;
                right: 3rem;
    
                img {
                    width: 41rem;
                }
        }
    
        .nsub {
            .container {
                width: 28.5%;
                right: 1rem;
                position: absolute;
                bottom: 7rem;
    
                a {
                    color: $fclr;
                    text-decoration: none;
                }

                .carousel-control .glyphicon-chevron-right {
                    margin-top: -4rem ;
                }
            }
        }
        }
    }

    .story {
        height: 100vh;

        &__breadcrumb {
            padding: 12rem 14.7rem;
                // align-items: center;
                // display: flex;

            .bread {
                align-items: center;
                display: flex;
                margin-bottom: 2rem;

                &-logo {
                    display: inline-flex;
        
                    img {
                        width: 2rem;
                    }
                }
        
                &-title {
                    display: inline-flex;
                    padding-left: 2rem;

                    .breadcrumb {
                        padding: unset;
                        margin: unset;
                        color: #A6ADB4;

                        a {
                            color: $color;
                            text-decoration: none;
                        }
                    }
        
                    a {
                        margin: 0 .5rem;
                    }
                }
            }

            .container-form {
                    // margin-top: 2rem;
                min-height: 52.7rem;
                background: #FFFFFF;
                border-radius: 1rem;

                .col-sm-6 {
                    padding: unset;
                }

                .border-bottom {
                    border-bottom: 3px solid #FA6980 !important;
                }

                .banner {
                    
                    &-img {
                        img {
                            width: -webkit-fill-available;
                            height: auto;
                        }
                    }

                    &-text {
                        position: absolute;
                        text-align: center;
                        align-items: center;
                        display: flex;
                        // width: 100%;
                        color: #FFFFFF;
                        font-weight: 600;

                        p {
                            width: 100%;
                        }
                    }

                    &-title {
                        top: 30%;
                        left: 38%;
                        font-size: 4rem;
                    }

                    &-desc {
                        top: 43%;
                        left: 0;
                        font-size: 2rem;
                    }

                    &-img-ava {
                        position: absolute;
                        text-align: center;
                        align-items: center;
                        display: flex;
                        top: 55%;
                        left: 45%;
                    }
                }
                

                .bg-white {
                    border-radius: 1rem;
                    .newsletter {
                        padding: 6rem 10rem;

                        p {
                            padding-bottom: 2rem;

                            select, input {
                                width: 100%;
                                height: 3rem;
                                border-radius: 0.5rem;
                            }
                        }

                        .sbutton {
                            border-radius: 0.5rem;
                            width: 32%;
                            height: 4rem;
                            background-color: #FA6980;
                            color: #FFFFFF;
                            border: none;
                            }
                    }
                }
            }

        }
    }

    .articles {
            height: fit-content;

            .pale {
                font-weight: 400;
                color: #A6ADB4;
            }

            &-sec {
                padding: 0 14.7rem;

                .border-left {
                    // padding-right: 7rem;
                    text-align: left;

                    .dashed-line {
                        border: 2px dashed #EBEDED;
                    }
                    
                    .atitle {
                        padding-bottom: 2rem;
                        font-weight: 600;
                    }

                    .stitle {
                        font-weight: 600;
                    }
                }

                .border-right {
                    border-left: 3px solid #EBEDED;
                }

                .review {
                    margin: 3rem 2rem;

                    &-img {
                        display: inline-flex;
                    }

                    &-name {
                        display: inline-flex;
                    }

                    &-desc {
                        padding-bottom: 2rem;
                        font-weight: 400;
                    }
                }

                .video {
                    iframe {
                        width: 95%;
                        height: 37vh;
                        border-radius: 1rem;
                        margin-left: 2rem;
                    }
                }
            }
    }

    .places {
            // height: 100vh;
            // display: flex;
            &-sec {
                padding: 3rem 14.7rem;

                .tab-content>.active {
                    display: contents !important;
                }

                .atitle {
                    font-weight: 600;
                }

                .nav1 {
                    display: flex;
                }

                .nav2 {
                    display: none;
                }
            }

            .nav {
                display: flex;
                justify-content: space-between;
                padding: 1rem 10rem;
                background: #DEDEDE;
                border-radius: 1rem;

                &-link {
                    color: #202124;
                    margin: 0 2rem;
                }

                &-link.active {
                    background-color: #FA6980;
                    color: #FFFFFF;
                }
            }

            &-card {
                margin: 0 -1.5rem;
                // display: flex;

                .col-sm-4 {
                    margin-bottom: 4rem;
                    margin-top: -2rem;
                }

                .card {
                    margin: 3rem 0 0;

                    a {
                        min-height: 12rem;
                        background-color: #52E5BA;
                    }

                    &-img-top {
                        height: 15rem;
                    }

                    &-title {
                        font-weight: 700;
                        font-size: 1.5rem;
                    }

                    &-text {
                        font-weight: 400;
                        font-size: 1rem;

                    }
                }
            }
    }
    @media (max-width: 764px) {
        .hero{
            .overlay {
                p {
                    line-height: 25px;
                    font-size: 17px;
                    margin: 0 2rem;
                }

                .banner-sub {
                    margin: 0 2rem;

                    a{
                        line-height: 14px;
                        font-size: 10px;
                        margin-left: 4rem;
                        margin-top: 6rem;
                    }
                }

                .img-ava {
                    img {
                        bottom: 2rem;
                        left: 2.5rem;
                    }
                }

                .sub-ava {
                    a {
                        bottom: 3rem;
                        left: 8rem;
                        line-height: 20px;
                        font-size: 9px;
                    }
                }

                .nstory {
                    display: none;
                }

                .nsub {
                    .container {
                        width: 44.5%;
                        bottom: 3rem;

                        .item {
                            font-size: 9px;
                            line-height: 10px;
                        }

                        .carousel-control {

                            .glyphicon-chevron-right {
                                margin-top: -2.5rem;
                                font-size: 9px;
                                line-height: 10px;
                            }
                        }
                    }
                }
            }
        }

        .story {
            height: auto;
            &__breadcrumb {
                padding: 3rem 0;

                .bread {
                    display: none;
                }

                .container-form {
                    min-height: unset;
                    border-radius: 0;

                    .col-sm-6 {
                        padding: unset;
                    }

                    .banner {
                        &-title {
                            top: 30%;
                            font-size: 2rem;
                            left: 41%;
                        }
    
                        &-desc {
                            top: 43%;
                            font-size: 1rem;
                            left: 3%;
                        }
                    }

                    .bg-white {
                        .newsletter {
                            padding: 3rem 2rem;
                        }
                    }
                }
            }
        }

        .articles {
            height: auto;
            &-sec {
                padding: unset;

                .border-left {
                    padding: 0 2rem;
                }

                .border-right {
                    padding: o 2rem;
                }
            }
        }

        .places {
            &-sec {
                padding: 3rem 2rem;
            }

            .nav1 {
                display: none;
            }

            .nav-link {
                margin: 0;
            }

            .nav2 {
                display: flex;

                .nav {
                    width: 100%;
                    padding: 0;
                    margin: 0;

                    .dropdown {
                        width: inherit;
                        a {
                            text-align: center;
                        }

                        &-menu {
                            .nav-item {
                                width: 80vw;
                            }
                        }
                    }
                }
            }

            .tab-content {
                padding: 0 2rem;
            }
        }
    }

    @media (min-width:359px) and (max-width:362px) {
        .hero{
            .overlay {
                height: 50.2vh;
            }
        }
    }
    @media (min-width:374px) and (max-width:378px) {
        .hero{
                .overlay {
                height: 58vh;
            }
        }
    }

    @media (min-width:389px) {
        .hero{
            .overlay {
                height: 47.8vh;
            }
        }
    }
    @media (min-width:410px) {
        .hero{
            .overlay {
                height: 46.5vh;
            }
        }
    }

    @media (min-width:764px) {
        .hero{
            .overlay {
                height: 77.2vh;

                p {
                    font-size: 3rem;
                    margin: 0 9rem;
                }

                .banner-sub {
                    margin: 0 16rem;

                    a{
                        font-size: 2rem;
                    }
                }

                .sub-ava {
                    a {
                        font-size: 1.5rem;
                    }
                }

                .nstory {
                    display: block;
                    bottom: 3rem;
                    position: absolute;
                    right: 3rem;

                    img {
                        width: 33rem;
                    }
                }

                .nsub {
                    .container {
                        // bottom: 5rem;
                        width: 44%;

                        .item {
                            font-size: 1.5rem;
                            line-height: 2.5rem;
                        }
                    }
                }
            }
        }

        .story {
            height: 50vh;
            &__breadcrumb {
                padding: 3rem 2rem;

                .bread {
                    display: flex;
                }

                .container-form {
                    min-height: 40rem;
                    border-radius: 1rem;
                    
                    .banner-img {
                        img {
                            height: 40rem;
                        }
                    }

                    .bg-white {
                        .newsletter {
                            padding: 2rem 2rem;
                        }
                    }
                }
            }
        }

        .articles {
            // height: 88vh;
            &-sec {
                padding: 0 2rem;
            }
        }

        .places {
            &-sec {
                padding: 3rem 2rem;
            }

            .nav {
                display: block;
                padding: 1rem 2rem;
            }
        }
    }

    @media (min-width:815px) {
        .hero{
            .overlay {
                height: 71.8vh;

                p {
                    margin: 0 11rem;
                }

                .nsub {
                    .container {
                        width: 42.5%;
                    }
                }
            }
        }
    }

    @media (min-width:910px) {
        .hero{
            .overlay {
                height: 68.8vh;

                p {
                    margin: 0 6rem;
                    font-size: 4rem;
                }

                .banner-sub {
                    margin: 0 23rem;

                    a {
                        margin-top: 8rem;
                    }
                }

                .nstory {
                    img {
                        width: 37rem;
                    }
                }

                .nsub {
                    .container {
                        bottom: 6rem;
                    }
                }
            }
        }

        .story {
            height: 42vh;
        }
    }

    @media (min-width: 1199px) {
        .hero {
        
            .overlay {
                height: 80vh;
        
                .banner-sub {
                    margin: 6rem 50rem 0rem;
                }
        
                p {
                    font-size: 48px;
                    margin: 16rem 26rem 20rem;
                }
        
                .sub-ava {
                    a{
                        font-size: 16px;
                    }
                }
        
                .nstory {
                        img {
                            width: 41rem;
                        }
                }
            
                .nsub {
                    .container {
                        width: 28.5%;
                        bottom: 10rem;
                    }
                }
            }
        }

        .story {
            height: 100vh;

            &__breadcrumb {
                padding: 12rem 14.7rem;

                .container-form {
                    min-height: 52.7rem;
                    background: #FFFFFF;
                    border-radius: 1rem;

                    .col-sm-6 {
                        padding: unset;
                    }

                    .banner-img {
                        img {
                            width: -webkit-fill-available;
                            height: auto;
                        }
                    }

                    .bg-white {
                        .newsletter {
                            padding: 6rem 10rem;
                        }
                    }
                }

            }
        }
        .articles {
            // height: 100vh;
            &-sec {
                padding: 0 14.7rem;

                .border-right {
                    border-left: 3px solid #EBEDED;
                }
            }
        }
        .places {
            &-sec {
                padding: 3rem 14.7rem;
                .tab-content>.active {
                    display: contents !important;
                }
            }

            .nav {
                display: flex;
                padding: 1rem 10rem;
            }
        }
    }
}


footer {
    // background: #555555;
    // display: flex;
    .fmob {
        display: none !important;
    }
    .fdesk {
        display: block;
    }
    .footer {
        &-menu {
            padding: 3rem 0rem 3rem 10rem;
            width: 100%;
            display: flex;
            // margin-top: 3rem;
            background: #555555;

            a {
                color: #CBD0D3;

                :hover {
                    text-decoration: none;
                }
            }

            .right {
                // margin: 0 5rem;
                display: flex;
                float: right;
                left: 10rem;
                justify-content: space-between;

                .fa {
                    color: #CBD0D3;
                }
            }
        }
        &-logo {
            img {
                max-height: 12rem;
            }
        }
    }

    @media (min-width:764px) {
        .footer {
            &-menu {
                padding: 3rem 0;
            }

            &-logo {
                margin-right: 2rem;
            }
        }
    }
    // Small devices (landscape phones, 576px and up)
    @media (max-width: 764px) {
        background: #555555;
        padding: 1rem 0;
        .fdesk {
            display: none;
        }
        .fmob {
            display: block !important;

            .fa {
                color: #CBD0D3;
                margin: 1rem 1rem;
             }

             .col-sm-12 {
                padding: 2rem 0;
             }
        }
        .footer {
            &-menu {
                padding: 2rem 0;
                .mdes {
                    display: flex;
                }
            }
        }
    }
}