body {
  background-color: #F6F8F9;
  font-family: helvatica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  font-style: normal;
  color: #343638;
}

.wrapper {
  min-height: calc(100vh - 55px);
}
.wrapper .header {
  z-index: 400;
  background: #F6F8F9;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0.5rem;
}
.wrapper .header nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-block: 1.2rem;
  transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
}
.wrapper .header nav.active {
  background-color: white;
}
.wrapper .header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header .logo {
  color: var(--accent);
  margin-inline: 0.5rem;
  width: clamp(3rem, 10vw, 7.5rem);
  display: grid;
  place-items: center;
}
.wrapper .header .logo-link:focus-visible,
.wrapper .header .nav-link:focus-visible {
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}
.wrapper .header .logo-img {
  max-width: 10%;
}
.wrapper .header .nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--dark);
  padding: 1.5rem;
  border-bottom: 4px solid var(--accent);
  text-align: center;
}
.wrapper .header .nav-links.activated {
  transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}
.wrapper .header .btn {
  color: var(--text);
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.wrapper .header .btn--accent {
  background-color: var(--accent);
  padding: 0.3rem 2rem;
}
.wrapper .header .btn--menu {
  color: var(--accent);
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}
.wrapper .header li[role=none],
.wrapper .header .nav-link {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.wrapper .header .btn--menu[aria-expanded=true] {
  transform: rotate(-180deg);
}
.wrapper .header .btn--menu[aria-expanded=true] + .nav-links {
  transform: translate3d(0, 0, 0);
  background-color: white;
}
@media (min-width: 768px) {
  .wrapper .header .btn--menu {
    display: none;
  }
  .wrapper .header .nav-links {
    position: static;
    transform: translate3d(0, 0, 0);
    flex-direction: row;
    border: 0;
    z-index: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
  }
  .wrapper .header li[role=none],
  .wrapper .header .nav-link {
    width: initial;
  }
}
.wrapper .header__content {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  background: #F6F8F9;
}
.wrapper .header__content .logo-img {
  max-width: 10%;
}
.wrapper .header .content-column {
  width: 100%;
  height: 5rem;
}
.wrapper .header .nav {
  display: flex;
  align-items: center;
}
.wrapper .header .nav1 {
  padding-right: 3rem;
  display: flex;
}
.wrapper .header .nav1 a {
  color: #343638;
  opacity: 0.5;
}
.wrapper .header .nav1 a :active {
  opacity: 1;
}
.wrapper .header .nav1 .nav__link {
  padding: 0 0 0 2.5rem;
  text-decoration: none;
}
.wrapper .header .nav2 {
  width: 2rem;
  margin-right: 2rem;
}
.wrapper .header .nav2 img {
  width: 4rem;
}
.wrapper .hero {
  position: relative;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  background: linear-gradient(rgba(197, 199, 221, 0), rgba(0, 0, 0, 0.85)), url(Image37.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper .hero .overlay {
  height: 100vh;
  display: grid;
  align-items: center;
  color: #FFFFFF;
}
.wrapper .hero .overlay .banner-sub {
  justify-content: space-between;
  position: absolute;
  display: flex;
  margin: 6rem 50rem 0rem;
  bottom: 40%;
}
.wrapper .hero .overlay .banner-sub a {
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 7rem;
  color: #FFFFFF;
  text-decoration: none;
}
.wrapper .hero .overlay p {
  line-height: 50px;
  text-align: center;
  font-size: 48px;
  position: absolute;
  margin: 16rem 26rem 20rem;
}
.wrapper .hero .overlay .img-ava img {
  bottom: 3rem;
  left: 2.5rem;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  position: absolute;
}
.wrapper .hero .overlay .sub-ava a {
  bottom: 4rem;
  left: 8rem;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  color: #FFFFFF;
  text-decoration: none;
}
.wrapper .hero .overlay .nstory {
  bottom: 3rem;
  position: absolute;
  right: 3rem;
}
.wrapper .hero .overlay .nstory img {
  width: 41rem;
}
.wrapper .hero .overlay .nsub .container {
  width: 28.5%;
  right: 1rem;
  position: absolute;
  bottom: 7rem;
}
.wrapper .hero .overlay .nsub .container a {
  color: #FFFFFF;
  text-decoration: none;
}
.wrapper .hero .overlay .nsub .container .carousel-control .glyphicon-chevron-right {
  margin-top: -4rem;
}
.wrapper .story {
  height: 100vh;
}
.wrapper .story__breadcrumb {
  padding: 12rem 14.7rem;
}
.wrapper .story__breadcrumb .bread {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}
.wrapper .story__breadcrumb .bread-logo {
  display: inline-flex;
}
.wrapper .story__breadcrumb .bread-logo img {
  width: 2rem;
}
.wrapper .story__breadcrumb .bread-title {
  display: inline-flex;
  padding-left: 2rem;
}
.wrapper .story__breadcrumb .bread-title .breadcrumb {
  padding: unset;
  margin: unset;
  color: #A6ADB4;
}
.wrapper .story__breadcrumb .bread-title .breadcrumb a {
  color: #343638;
  text-decoration: none;
}
.wrapper .story__breadcrumb .bread-title a {
  margin: 0 0.5rem;
}
.wrapper .story__breadcrumb .container-form {
  min-height: 52.7rem;
  background: #FFFFFF;
  border-radius: 1rem;
}
.wrapper .story__breadcrumb .container-form .col-sm-6 {
  padding: unset;
}
.wrapper .story__breadcrumb .container-form .banner-img img {
  width: -webkit-fill-available;
  height: auto;
}
.wrapper .story__breadcrumb .container-form .bg-white {
  border-radius: 1rem;
}
.wrapper .story__breadcrumb .container-form .bg-white .newsletter {
  padding: 6rem 10rem;
}
.wrapper .story__breadcrumb .container-form .bg-white .newsletter p {
  padding-bottom: 2rem;
}
.wrapper .story__breadcrumb .container-form .bg-white .newsletter p select, .wrapper .story__breadcrumb .container-form .bg-white .newsletter p input {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
}
.wrapper .story__breadcrumb .container-form .bg-white .newsletter .sbutton {
  border-radius: 0.5rem;
  width: 32%;
  height: 4rem;
  background-color: #FA6980;
  color: #FFFFFF;
  border: none;
}
.wrapper .articles {
  height: -moz-fit-content;
  height: fit-content;
}
.wrapper .articles .pale {
  font-weight: 400;
  color: #A6ADB4;
}
.wrapper .articles-sec {
  padding: 0 14.7rem;
}
.wrapper .articles-sec .border-left {
  text-align: left;
}
.wrapper .articles-sec .border-left .dashed-line {
  border: 2px dashed #EBEDED;
}
.wrapper .articles-sec .border-left .atitle {
  padding-bottom: 2rem;
  font-weight: 600;
}
.wrapper .articles-sec .border-left .stitle {
  font-weight: 600;
}
.wrapper .articles-sec .border-right {
  border-left: 3px solid #EBEDED;
}
.wrapper .articles-sec .review {
  margin: 3rem 2rem;
}
.wrapper .articles-sec .review-img {
  display: inline-flex;
}
.wrapper .articles-sec .review-name {
  display: inline-flex;
}
.wrapper .articles-sec .review-desc {
  padding-bottom: 2rem;
  font-weight: 400;
}
.wrapper .articles-sec .video iframe {
  width: 95%;
  height: 37vh;
  border-radius: 1rem;
  margin-left: 2rem;
}
.wrapper .places-sec {
  padding: 3rem 14.7rem;
}
.wrapper .places-sec .tab-content > .active {
  display: contents !important;
}
.wrapper .places-sec .atitle {
  font-weight: 600;
}
.wrapper .places-sec .nav1 {
  display: flex;
}
.wrapper .places-sec .nav2 {
  display: none;
}
.wrapper .places .nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  background: #DEDEDE;
  border-radius: 1rem;
}
.wrapper .places .nav-link {
  color: #202124;
  margin: 0 2rem;
}
.wrapper .places .nav-link.active {
  background-color: #FA6980;
  color: #FFFFFF;
}
.wrapper .places-card {
  margin: 0 -1.5rem;
}
.wrapper .places-card .col-sm-4 {
  margin-bottom: 4rem;
  margin-top: -2rem;
}
.wrapper .places-card .card {
  margin: 3rem 0 0;
}
.wrapper .places-card .card a {
  min-height: 12rem;
  background-color: #52E5BA;
}
.wrapper .places-card .card-img-top {
  height: 15rem;
}
.wrapper .places-card .card-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.wrapper .places-card .card-text {
  font-weight: 400;
  font-size: 1rem;
}
@media (max-width: 764px) {
  .wrapper .hero .overlay p {
    line-height: 25px;
    font-size: 17px;
    margin: 0 2rem;
  }
  .wrapper .hero .overlay .banner-sub {
    margin: 0 2rem;
  }
  .wrapper .hero .overlay .banner-sub a {
    line-height: 14px;
    font-size: 10px;
    margin-left: 4rem;
    margin-top: 6rem;
  }
  .wrapper .hero .overlay .img-ava img {
    bottom: 2rem;
    left: 2.5rem;
  }
  .wrapper .hero .overlay .sub-ava a {
    bottom: 3rem;
    left: 8rem;
    line-height: 20px;
    font-size: 9px;
  }
  .wrapper .hero .overlay .nstory {
    display: none;
  }
  .wrapper .hero .overlay .nsub .container {
    width: 44.5%;
    bottom: 3rem;
  }
  .wrapper .hero .overlay .nsub .container .item {
    font-size: 9px;
    line-height: 10px;
  }
  .wrapper .hero .overlay .nsub .container .carousel-control .glyphicon-chevron-right {
    margin-top: -2.5rem;
    font-size: 9px;
    line-height: 10px;
  }
  .wrapper .story {
    height: auto;
  }
  .wrapper .story__breadcrumb {
    padding: 3rem 0;
  }
  .wrapper .story__breadcrumb .bread {
    display: none;
  }
  .wrapper .story__breadcrumb .container-form {
    min-height: unset;
    border-radius: 0;
  }
  .wrapper .story__breadcrumb .container-form .col-sm-6 {
    padding: unset;
  }
  .wrapper .story__breadcrumb .container-form .bg-white .newsletter {
    padding: 3rem 2rem;
  }
  .wrapper .articles {
    height: auto;
  }
  .wrapper .articles-sec {
    padding: unset;
  }
  .wrapper .articles-sec .border-left {
    padding: 0 2rem;
  }
  .wrapper .articles-sec .border-right {
    padding: o 2rem;
  }
  .wrapper .places-sec {
    padding: 3rem 2rem;
  }
  .wrapper .places .nav1 {
    display: none;
  }
  .wrapper .places .nav-link {
    margin: 0;
  }
  .wrapper .places .nav2 {
    display: flex;
  }
  .wrapper .places .nav2 .nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .wrapper .places .nav2 .nav .dropdown {
    width: inherit;
  }
  .wrapper .places .nav2 .nav .dropdown a {
    text-align: center;
  }
  .wrapper .places .nav2 .nav .dropdown-menu .nav-item {
    width: 80vw;
  }
  .wrapper .places .tab-content {
    padding: 0 2rem;
  }
}
@media (min-width: 359px) and (max-width: 362px) {
  .wrapper .hero .overlay {
    height: 50.2vh;
  }
}
@media (min-width: 374px) and (max-width: 378px) {
  .wrapper .hero .overlay {
    height: 58vh;
  }
}
@media (min-width: 389px) {
  .wrapper .hero .overlay {
    height: 47.8vh;
  }
}
@media (min-width: 410px) {
  .wrapper .hero .overlay {
    height: 46.5vh;
  }
}
@media (min-width: 764px) {
  .wrapper .hero .overlay {
    height: 77.2vh;
  }
  .wrapper .hero .overlay p {
    font-size: 3rem;
    margin: 0 9rem;
  }
  .wrapper .hero .overlay .banner-sub {
    margin: 0 16rem;
  }
  .wrapper .hero .overlay .banner-sub a {
    font-size: 2rem;
  }
  .wrapper .hero .overlay .sub-ava a {
    font-size: 1.5rem;
  }
  .wrapper .hero .overlay .nstory {
    display: block;
    bottom: 3rem;
    position: absolute;
    right: 3rem;
  }
  .wrapper .hero .overlay .nstory img {
    width: 33rem;
  }
  .wrapper .hero .overlay .nsub .container {
    width: 44%;
  }
  .wrapper .hero .overlay .nsub .container .item {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .wrapper .story {
    height: 50vh;
  }
  .wrapper .story__breadcrumb {
    padding: 3rem 2rem;
  }
  .wrapper .story__breadcrumb .bread {
    display: flex;
  }
  .wrapper .story__breadcrumb .container-form {
    min-height: 40rem;
    border-radius: 1rem;
  }
  .wrapper .story__breadcrumb .container-form .banner-img img {
    height: 40rem;
  }
  .wrapper .story__breadcrumb .container-form .bg-white .newsletter {
    padding: 2rem 2rem;
  }
  .wrapper .articles-sec {
    padding: 0 2rem;
  }
  .wrapper .places-sec {
    padding: 3rem 2rem;
  }
  .wrapper .places .nav {
    display: block;
    padding: 1rem 2rem;
  }
}
@media (min-width: 815px) {
  .wrapper .hero .overlay {
    height: 71.8vh;
  }
  .wrapper .hero .overlay p {
    margin: 0 11rem;
  }
  .wrapper .hero .overlay .nsub .container {
    width: 42.5%;
  }
}
@media (min-width: 910px) {
  .wrapper .hero .overlay {
    height: 68.8vh;
  }
  .wrapper .hero .overlay p {
    margin: 0 6rem;
    font-size: 4rem;
  }
  .wrapper .hero .overlay .banner-sub {
    margin: 0 23rem;
  }
  .wrapper .hero .overlay .banner-sub a {
    margin-top: 8rem;
  }
  .wrapper .hero .overlay .nstory img {
    width: 37rem;
  }
  .wrapper .hero .overlay .nsub .container {
    bottom: 6rem;
  }
  .wrapper .story {
    height: 42vh;
  }
}
@media (min-width: 1199px) {
  .wrapper .hero .overlay {
    height: 80vh;
  }
  .wrapper .hero .overlay .banner-sub {
    margin: 6rem 50rem 0rem;
  }
  .wrapper .hero .overlay p {
    font-size: 48px;
    margin: 16rem 26rem 20rem;
  }
  .wrapper .hero .overlay .sub-ava a {
    font-size: 16px;
  }
  .wrapper .hero .overlay .nstory img {
    width: 41rem;
  }
  .wrapper .hero .overlay .nsub .container {
    width: 28.5%;
    bottom: 10rem;
  }
  .wrapper .story {
    height: 100vh;
  }
  .wrapper .story__breadcrumb {
    padding: 12rem 14.7rem;
  }
  .wrapper .story__breadcrumb .container-form {
    min-height: 52.7rem;
    background: #FFFFFF;
    border-radius: 1rem;
  }
  .wrapper .story__breadcrumb .container-form .col-sm-6 {
    padding: unset;
  }
  .wrapper .story__breadcrumb .container-form .banner-img img {
    width: -webkit-fill-available;
    height: auto;
  }
  .wrapper .story__breadcrumb .container-form .bg-white .newsletter {
    padding: 6rem 10rem;
  }
  .wrapper .articles-sec {
    padding: 0 14.7rem;
  }
  .wrapper .articles-sec .border-right {
    border-left: 3px solid #EBEDED;
  }
  .wrapper .places-sec {
    padding: 3rem 14.7rem;
  }
  .wrapper .places-sec .tab-content > .active {
    display: contents !important;
  }
  .wrapper .places .nav {
    display: flex;
    padding: 1rem 10rem;
  }
}

footer .fmob {
  display: none !important;
}
footer .fdesk {
  display: block;
}
footer .footer-menu {
  padding: 3rem 0rem 3rem 10rem;
  width: 100%;
  display: flex;
  background: #555555;
}
footer .footer-menu a {
  color: #CBD0D3;
}
footer .footer-menu a :hover {
  text-decoration: none;
}
footer .footer-menu .right {
  display: flex;
  float: right;
  left: 10rem;
  justify-content: space-between;
}
footer .footer-menu .right .fa {
  color: #CBD0D3;
}
footer .footer-logo img {
  max-height: 12rem;
}
@media (min-width: 764px) {
  footer .footer-menu {
    padding: 3rem 0;
  }
  footer .footer-logo {
    margin-right: 2rem;
  }
}
@media (max-width: 764px) {
  footer {
    background: #555555;
    padding: 1rem 0;
  }
  footer .fdesk {
    display: none;
  }
  footer .fmob {
    display: block !important;
  }
  footer .fmob .fa {
    color: #CBD0D3;
    margin: 1rem 1rem;
  }
  footer .fmob .col-sm-12 {
    padding: 2rem 0;
  }
  footer .footer-menu {
    padding: 2rem 0;
  }
  footer .footer-menu .mdes {
    display: flex;
  }
}/*# sourceMappingURL=jtech.css.map */